@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    padding-left: .75rem;
    padding-right: .75rem;
    margin-left: auto;
    margin-right: auto;
}

/* @media(min-width:640px){
    .first-header{
        display: flex;
    }
} */

/* input:focus{
    border: 1px solid red;
    outline: 0px;
} */